Kitware/
KeePass/
QtProject.conf
Seafile/
Thunar/
Trolltech.conf
autostart/
com.ubuntu.terminal/
compiz-1/
connectivity-service/
dconf/
enchant/
eog/
evolution/
fish/fish_history
fish/fishd.pol-laptop
gedit/
gnome-control-center/
gtk-2.0/
gtk-3.0/
ibus/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors.xml
nautilus/
nvim/.netrwhist
nvim/bundle/
nvim/session.vim
pulse/
ranger/history
ranger/scope.sh
ranger/tagged
samba/
ubuntu-system-settings/
ubuntu-ui-toolkit/
update-notifier/
user-dirs.dirs
user-dirs.locale
xfce4/
xvin/
yelp/
pudb/saved-breakpoints-*
htop/
